@model TASKMANAGER21.Models.Resinf

@{
    ViewData["Title"] = "Create";
}

<div class="page-body">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header py-0 pt-2">
                    <div class="row">
                        <div class="col-md-4">
                            <h4 class=" ">Create New User</h4>
                        </div>
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-4">

                        </div>
                    </div>

                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <form asp-action="Create">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Resname" class="control-label"></label>
                                    <input asp-for="Resname" class="form-control" />
                                    <span asp-validation-for="Resname" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Restype" class="control-label"></label>
                                    <select asp-for="Restype" class="form-control">
                                        <option value="GENERAL">General</option>
                                        <option value="ADMIN">Admin</option>
                                    </select>
                                    <span asp-validation-for="Restype" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Resdesig" class="control-label"></label>
                                    <input asp-for="Resdesig" class="form-control" />
                                    <span asp-validation-for="Resdesig" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Resphone" class="control-label"></label>
                                    <input asp-for="Resphone" class="form-control" />
                                    <span asp-validation-for="Resphone" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Resemail" class="control-label"></label>
                                    <input asp-for="Resemail" class="form-control" />
                                    <span asp-validation-for="Resemail" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Resstatus" class="control-label"></label>
                                    <select asp-for="Resstatus" class="form-control">
                                        <option value="active">Active</option>
                                        <option value="inactive">Inactive</option>
                                    </select>
                                    <span asp-validation-for="Resstatus" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <input type="submit" value="Create" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div>
                        <a asp-action="Index">Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



                    

                    

                    @section Scripts {
                        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

                        <script>
                            $(".users1").addClass("active pcoded-trigger")
                        </script>
                    }
